extend ../layout.pug

block content
  <div class="container" style="margin-top: 16px;">
    p(style="font-family: 'Circular Std Bold', sans-serif;").
      Berikut ketentuan tata tertib absensi & jam kerja:

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-893.png", alt="Group 893", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents").
          Jam kerja adalah waktumu untuk melaksanakan aktivitas kerja sesuai dengan tugas dan tanggung jawabmu,
          di dalam kantor maupun diluar kantor.

    div(class="row")
      div(class="col")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Jam kerja diatur dengan memperhatikan undang-undang yang berlaku yaitu 40 (empat puluh) jam seminggu.

    div(class="row")
      div(class="col")
      div(class="col-1")
        p(class="description-documents") 3.
      div(class="col-8")
        p(class="description-documents", style="margin-bottom: 0;").
          Waktu kerja diatur sebagai berikut:

        p(class="description-documents d-flex").
          <span class="me-1">a.</span>

          <span>
            Kantor Pusat:<br />            

            <span class="d-flex">
              <span class="me-1">-</span>

              <span>
                Senin s.d Jumat:<br />

                <span class="d-flex">
                  <span class="me-1">a.</span>

                  <span>
                    Jam kerja:<br />

                    <span>07.00 s.d. 16.00 WIB</span>
                  </span>
                </span>

                <span class="d-flex">
                  <span class="me-1">b.</span>

                  <span>
                    Istirahat:<br />

                    <span>12.00 s.d. 13.00 WIB</span>
                  </span>
                </span>
              </span>
            </span>

            <span class="d-flex">
              <span class="me-1">-</span>
              <span>Sabtu: Libur</span>
            </span>

            <span class="d-flex">
              <span class="me-1">-</span>
              <span>Minggu: Libur</span>
            </span>
          </span>

        p(class="description-documents d-flex").
            <span class="me-1">b.</span>

            <span>
              Kantor Cabang:<br />            

              <span class="d-flex">
                <span class="me-1">-</span>

                <span>
                  Senin s.d Jumat:<br />

                  <span class="d-flex">
                    <span class="me-1">a.</span>

                    <span>
                      Jam kerja:<br />

                      <span>08.30 s.d. 16.45<br />Waktu Setempat</span>
                    </span>
                  </span>

                  <span class="d-flex">
                    <span class="me-1">b.</span>

                    <span>
                      Istirahat:<br />

                      <span>12.00 s.d. 13.00<br />Waktu Setempat</span>
                    </span>
                  </span>
                </span>
              </span>

              <span class="d-flex">
                <span class="me-1">-</span>

                <span>
                  Sabtu:<br />

                  <span>08.30 s.d 12.15<br />Waktu Setempat</span>
                </span>
              </span>

              <span class="d-flex">
                <span class="me-1">-</span>
                <span>Minggu: Libur</span>
              </span>
            </span>

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-892.png", alt="Group 892", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 4.
      div(class="col-8")
        p(class="description-documents").
          Kamu diwajibkan untuk melakukan absen saat datang dan pulang kantor.
  
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-894.png", alt="Group 894", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 5.
      div(class="col-8")
        p(class="description-documents").
          Jika kamu melakukan tugas dinas di luar kantor lebih dari 4 jam, maka kamu wajib memberitahukan maksud dan tujuan kamu kepada atasanmu.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-895.png", alt="Group 895", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 6.
      div(class="col-8")
        p(class="description-documents").
          Jika kamu terlambat hadir, bermaksud hadir terlambat, atau bermaksud akan meninggalkan kantor lebih awal, kamu wajib mendapat izin dari atasanmu.

    div(class="row", style="margin-top: 36px; margin-bottom: 80px;")
      div(class="col")
        img(src="/assets/webviews/group-896.png", alt="Group 896", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 7.
      div(class="col-8")
        p(class="description-documents").
          Jika kamu tidak melakukan absen, atau ketidakhadiranmu tidak dapat dipertanggung jawabkan, maka akan mengurangi hak cuti tahunan kamu.
  </div>