extend ../layout.pug

block content
  <div class="container" style="margin-top: 16px;">
    p(style="font-family: 'Circular Std Bold', sans-serif;").
      Berikut ketentuan absensi dan hak cuti tahunan karyawan:

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-897.png", alt="Group 897", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents").
          Data absensimu merupakan dasar perhitungan dan pembayaran upah yang akan diterima oleh kamu.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-896.png", alt="Group 896", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Kamu dapat melakukan absen melalui mesin absensi (finger print), aplikasi MPower, atau aplikasi Orange.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-908.png", alt="Group 908", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 3.
      div(class="col-8")
        p(class="description-documents").
          Jika ketidakhadiranmu tidak dapat dipertanggungjawabkan, saldo cuti tahunanmu akan dikurangi.
  
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-900.png", alt="Group 900", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 4.
      div(class="col-8")
        p(class="description-documents").
          Hak cuti tahunanmu diperbarui setiap awal tahun secara prorata serta atas kebijakan perusahaan.
  
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-905.png", alt="Group 905", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 5.
      div(class="col-8")
        p(class="description-documents").
          Kamu dapat mengajukan cuti setelah bekerja minimal selama 6 bulan.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-904.png", alt="Group 904", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 6.
      div(class="col-8")
        p(class="description-documents").
          Hak cutimu akan habis masa berlakunya pada bulan Juni setiap tahunnya. Masa berlaku tidak dapat diperpanjang ataupun diuangkan.

    div(class="row", style="margin-top: 36px; margin-bottom: 80px;")
      div(class="col")
        img(src="/assets/webviews/group-909.png", alt="Group 909", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 7.
      div(class="col-8")
        p(class="description-documents").
          Cuti bersama yang ditetapkan oleh pemerintah, tidak secara langsung dapat diterapkan oleh perusahaan.
          Kamu perlu mengajukan cuti untuk dapat cuti di tanggal tersebut. Saldo cuti tahunanmu akan dikurangi.
  </div>