extend ../layout.pug

block content
  <div class="container" style="margin-top: 16px;">
    p(style="font-family: 'Circular Std Bold', sans-serif;").
      Berikut ketentuan mekanisme cuti dan izin:

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-907.png", alt="Group 907", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents").
          Cuti merupakan hakmu untuk tidak masuk kerja di luar hari libur. Kamu berkesempatan untuk istirahat,
          menjalankan aktivitas pribadi, dan berganti suasana setelah bekerja terus menerus untuk jangka waktu tertentu.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-865.png", alt="Group 865", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Pengaturan pelaksanaan pengambilan cuti diperlukan agar produktivitas perusahan tidak tergganggu.
          Penggunaan hak cuti dapat dilaksanakan dan diatur sebaik-baiknya untuk kepentingan kamu maupun perusahaan.

    div(class="row", style="margin-top: 36px; margin-bottom: 48px;")
      div(class="col")
        img(src="/assets/webviews/group-870.png", alt="Group 870", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 3.
      div(class="col-8")
        p(class="description-documents", style="margin-bottom: 0;").
          Sesuai dengan perundangan yang berlaku, dan peraturan perusahaan, cuti yang dimaksud dalam ketentuan ini adalah sebagai berikut: 
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">a.</span>
          <span>Cuti tahunan,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">b.</span>
          <span>Cuti menunaikan ibadah keagamaan,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">c.</span>
          <span>Cuti melahirkan / keguguran.</span>

    p(style="font-family: 'Circular Std Bold', sans-serif;").
      Ketentuan Cuti Tahunan

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-910.png", alt="Group 910", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents").
          Hak cutimu bertambah setiap bulan selama 12 bulan berturut-turut. Kamu tetap mendapatkan upah penuh jika menggunakan hak cutimu.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-905.png", alt="Group 905", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Jika masa kerja kurang dari 12 bulan, cuti tahunan dapat digunakan secara proposional setelah bekerja minimal 6 bulan (disebut hutang cuti).

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-911.png", alt="Group 911", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 3.
      div(class="col-8")
        p(class="description-documents").
          Hutang cuti diperbolehkan maksimal -5 (minus 5) dengan persetujuan dari atasan kamu.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-753.png", alt="Group 753", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 4.
      div(class="col-8")
        p(class="description-documents").
          Jumlah cuti tahunan dihitung berdasarkan masa kerja dan level jabatan.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-904.png", alt="Group 904", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 5.
      div(class="col-8")
        p(class="description-documents").
          Masa berlaku cuti tahunan adalah 1 tahun sampai dengan 31 Desember tahun berjalan.
          Jika tidak habis digunakan, maka masih dapat digunakan sampai dengan akhir Juni di tahun berikutnya.
          Apabila masih ada hak cuti tahunan yang belum habis digunakan, maka sisa hak cuti tersebut akan otomatis hangus dan tidak dapat digunakan lagi.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-910.png", alt="Group 910", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 6.
      div(class="col-8")
        p(class="description-documents").
          Cuti bersama akan mengurangi saldo cuti tahunanmu jika kamu memilih untuk tidak bekerja di hari tersebut.
    
    div(class="row", style="margin-bottom: 48px;")
      div(class="col")
      div(class="col-1")
        p(class="description-documents") 7.
      div(class="col-8")
        p(class="description-documents").
          Jika ketidakhadiranmu tidak dapat dipertanggungjawabkan, saldo cuti tahunanmu akan dikurangi.

    p(style="font-family: 'Circular Std Bold', sans-serif;").
      Ketentuan Cuti Menunaikan Ibadah Keagaaman

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-912.png", alt="Group 912", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents").
          Hak cuti ibadah keagamaan dapat kamu gunakan untuk keperluan ibadah haji, maksimal selama 40 hari.
    
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-914.png", alt="Group 914", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Hak cuti ibadah keagamaan hanya diberikan pada karyawan tetap dengan masa kerja minimal 3 tahun.
          Hak cuti ini hanya dapat diambil 1 kali selama masa kerjamu di Mandala.

    div(class="row", style="margin-top: 36px; margin-bottom: 48px;")
      div(class="col")
        img(src="/assets/webviews/group-915.png", alt="Group 915", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 3.
      div(class="col-8")
        p(class="description-documents").
          Apabila kamu mengambil cuti ibadah keagamaan, hak cuti tahunanmu tidak akan dikurangi.
    
    p(style="font-family: 'Circular Std Bold', sans-serif;").
      Ketentuan Cuti Melahirkan / Keguguran
    
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-870.png", alt="Group 870", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents").
          Sesuai dengan undang-undang no.13 tahun 2003 tentang ketenagakerjaan, jika kamu karyawati yang hamil,
          kamu memiliki hak cuti hamil. Cuti diambil 1,5 bulan sebelum melahirkan hingga 1,5 bulan sesudah melahirkan.
          Upah bulananmu tetap diberikan dengan melampirkan surat keterangan dokter.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-852.png", alt="Group 852", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Untuk karyawati yang mengalami keguguran, diberikan hak cuti maksimal 1.5 bulan sejak gugurnya kandungan.
          Upah bulanan tetap diberikan dengan melampirkan surat keterangan dokter.

    div(class="row", style="margin-top: 36px; margin-bottom: 48px;")
      div(class="col")
        img(src="/assets/webviews/group-915.png", alt="Group 915", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 3.
      div(class="col-8")
        p(class="description-documents").
          Jika kamu karyawati yang sedang menstruasi hari pertama atau kedua,
          kamu dapat mengambil cuti atas persetujuan atasanmu tanpa mengurangi hak cuti tahunanmu.

    p(style="font-family: 'Circular Std Bold', sans-serif; margin-bottom: 8px;").
      Ketentuan Izin

    p(class="d-flex" style="font-family: 'Circular Std', sans-serif; font-size: 12px; color: #787885;").
      <span class="me-1">*</span>
      <span>Berdasarkan SK-DIR :003/SK-DIR/II/21 tentang fasilitas karyawan dan SK-DIR :002/SK-DIR/I/21 tentang Kebijakan Internal Perusahaan Manajemen SDM.</span>

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-934.png", alt="Group 934", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents", style="margin-bottom: 0;").
          Jenis izin yang dapat kamu ambil tanpa mengurangi upah dan saldo cuti tahunanmu adalah sebagai berikut:
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">a.</span>
          <span>Pernikahan karyawan : 3 hari kerja,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">b.</span>
          <span>Pernikahan anak kandung : 2 hari kerja,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">c.</span>

          <span>Istri sah karyawan melahirkan / keguguran kandungan : 2 hari kerja,
          kecuali jika terjadi komplikasi dengan melampirkan surat keterangan dokter,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">d.</span>
          <span>Khitan / baptis anak : 2 hari kerja,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">e.</span>
          <span>Istri / suami / anak / orang tua kandung / mertua / saudara kandung meninggal dunia / kecelakaan berat / sakit keras / 2 hari kerja,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">f.</span>
          <span>Izin sakit lebih dari 2 hari kerja, harus melampirkan surat keterangan dokter.</span>

    p(style="font-family: 'Circular Std', sans-serif; font-size: 12px; color: #787885; margin-top: 16px;").
      * Dapat kamu ajukan melalui menu cuti.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-920.png", alt="Group 920", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Jika terdapat izin yang membutuhkan waktu yang lebih panjang dari yang telah ditentukan,
          maka kelebihannya mengurangi hak cuti tahunan, atau tidak dibayarkan upah.

    div(class="row", style="margin-top: 36px; margin-bottom: 80px;")
      div(class="col")
        img(src="/assets/webviews/group-852.png", alt="Group 852", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 3.
      div(class="col-8")
        p(class="description-documents").
          Untuk persetujuan pemberian ijin-ijin pada poin 1 diatas wajib disertai bukti-bukti yang sah.
  </div>