extend ../layout.pug

block content
  <div class="container" style="margin-top: 16px;">
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-837.png", alt="Group 837", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents", style="margin-bottom: 0;").
          Fasilitas rawat inap meliputi:
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">a.</span>
          <span>Biaya kamar rumah sakit,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">b.</span>
          <span>Biaya pertolongan pertama dokter,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">c.</span>
          <span>Biaya pengangkutan kerumah sakit (ambulance),</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">d.</span>
          <span>Biaya perawatan atau pemeriksaan dokter,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">e.</span>
          <span>Pembelian obat dan/atau vitamin atas resep dokter,</span>
        p(class="description-documents d-flex").
          <span class="me-1">f.</span>
          <span>Biaya laboratorium atau rontgen.</span>

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-840.png", alt="Group 840", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Jika kamu terdaftar sebagai penerima fasilitas BPJS Kesehatan,
          maka WAJIB prioritaskan penggunaan BPJS Kesehatan sebelum menggunakan fasilitas kesehatan dari Mandala.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-846.png", alt="Group 846", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 3.
      div(class="col-8")
        p(class="description-documents").
          Fasilitas rawat inap yang diberikan TIDAK BERSIFAT sebagai tambahan dana untuk naik kelas perawatan.
          Namun apabila terjadi kondisi khusus dan bersifat darurat, maka klaim rawat inap dapat dilakukan dengan menyertakan bukti asli dari rumah sakit dan disetujui oleh atasan langsung bersama Divisi HR.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-838.png", alt="Group 838", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 4.
      div(class="col-8")
        p(class="description-documents").
          Nilai plafon fasilitas rawat inap sesuai dengan yang tercantum pada aplikasi (menu “Fasilitas Kesehatan”).

    div(class="row", style="margin-top: 36px; margin-bottom: 48px;")
      div(class="col")
        img(src="/assets/webviews/group-847.png", alt="Group 847", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 5.
      div(class="col-8")
        p(class="description-documents").
          Jika kamu memilih kelas rumah sakit yang lebih tinggi dari hakmu, maka kelebihan biaya ditanggung oleh pribadi.
          Kelebihan biaya dihitung secara proposional dari total biaya rawat inap, tidak hanya menghitung selisih harga kamar.

    p(style="font-family: 'Circular Std Bold', sans-serif;").
      Pencairan Dana Fasilitas
  
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-854.png", alt="Group 854", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents").
          Pencairan dana fasilitas dilakukan maksimal 5 hari kerja dari tanggal terakhir di bulan persetujuan klaim.
  
    div(class="row", style="margin-top: 36px; margin-bottom: 80px;")
      div(class="col")
        img(src="/assets/webviews/group-838.png", alt="Group 827", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Kwitansi / invoice dapat dijadikan dokumen klaim dengan masa berlaku 31 hari sejak tanggal transaksi sampai dengan tanggal cut off.
  </div>