extend ../layout.pug

block content
  <div class="container" style="margin-top: 16px;">
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-853.png", alt="Group 853", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents", style="margin-bottom: 0;").
          Fasilitas ini hanya berlaku jika masa kerjamu sudah melewati 1 tahun.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-838.png", alt="Group 838", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Nilai plafon fasilitas kacamata sesuai dengan yang tercantum pada aplikasi (menu “Fasilitas Kesehatan”).

    div(class="row", style="margin-top: 36px; margin-bottom: 48px;")
      div(class="col")
        img(src="/assets/webviews/group-852.png", alt="Group 852", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 3.
      div(class="col-8")
        p(class="description-documents", style="margin-bottom: 0;").
          Penggantian biaya hanya dapat diberikan apabila kamu melampirkan:
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">a.</span>
          <span>Hasil pemeriksaan, dan resep kacamata,</span>
        p(class="description-documents d-flex").
          <span class="me-1">b.</span>
          <span>Bukti pembayaran resmi & asli berupa kuitansi / faktur yang mencantumkan nama,
          nomor telepon, serta cap rumah sakit / instansi terkait.</span>

    p(style="font-family: 'Circular Std Bold', sans-serif;").
      Pencairan Dana Fasilitas
  
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-854.png", alt="Group 854", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents").
          Pencairan dana fasilitas dilakukan maksimal 5 hari kerja dari tanggal terakhir di bulan persetujuan klaim.
  
    div(class="row", style="margin-top: 36px; margin-bottom: 80px;")
      div(class="col")
        img(src="/assets/webviews/group-838.png", alt="Group 838", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Kwitansi / invoice dapat dijadikan dokumen klaim dengan masa berlaku 31 hari sejak tanggal transaksi sampai dengan tanggal cut off.
  </div>