extend ../layout.pug

block content
  <div class="container" style="margin-top: 16px;">
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-836.png", alt="Group 836", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents").
          Fasilitas rawat jalan tersedia untukmu selama 1 tahun, dan akan diperbarui di tahun berikutnya.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-837.png", alt="Group 837", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents", style="margin-bottom: 0;").
          Fasilitas rawat jalan meliputi:
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">a.</span>
          <span>Biaya pemeriksaan dokter,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">b.</span>
          <span>Biaya laboratorium atau rontgen,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">c.</span>
          <span>Pembelian obat atas resep dokter,</span>
        p(class="description-documents d-flex", style="margin-bottom: 0;").
          <span class="me-1">d.</span>
          <span>Biaya pemeriksaan mata,</span>
        p(class="description-documents d-flex").
          <span class="me-1">e.</span>
          <span>Pengobatan gigi yang terdiri dari perawatan syaraf gigi, penambalan gigi, dan/atau cabut gigi.</span>

    div(class="row", style="margin-top: 36px; margin-bottom: 48px;")
      div(class="col")
        img(src="/assets/webviews/group-838.png", alt="Group 838", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 3.
      div(class="col-8")
        p(class="description-documents").
          Nilai plafon fasilitas rawat jalan sesuai dengan yang tercantum pada aplikasi (menu “Fasilitas Kesehatan”).
    
    p(style="font-family: 'Circular Std Bold', sans-serif;").
      Pencairan Dana Fasilitas
  
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-854.png", alt="Group 854", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents").
          Pencairan dana fasilitas dilakukan maksimal 5 hari kerja dari tanggal terakhir di bulan persetujuan klaim.
  
    div(class="row", style="margin-top: 36px; margin-bottom: 80px;")
      div(class="col")
        img(src="/assets/webviews/group-838.png", alt="Group 827", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Kwitansi / invoice dapat dijadikan dokumen klaim dengan masa berlaku 31 hari sejak tanggal transaksi sampai dengan tanggal cut off.
  </div>