extend ../layout.pug

block content
  <div class="container" style="margin-top: 16px;">
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-815.png", alt="Group 815", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents").
          Fasilitas kesehatan dari Mandala diberikan untuk kamu dan keluargamu.
          Yang dimaksud dengan keluarga, yaitu istri dan anak sah sampai dengan anak ke -3.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-817.png", alt="Group 817", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Anak karyawan yang berhak mendapat fasilitas kesehatan adalah anak berusia dibawah 21 tahun, belum bekerja, dan belum berkeluarga.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-821.png", alt="Group 821", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 3.
      div(class="col-8")
        p(class="description-documents").
          Karyawan wanita dianggap single / tidak menikah, kecuali atas kebijakan perusahaan, dan disertai dengan dokumen yang sah.
  
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-834.png", alt="Group 834", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 4.
      div(class="col-8")
        p(class="description-documents").
          Tidak dapat dilakukan penggantian biaya pengobatan sehubungan dengan kecantikan, obat-obatan terlarang, atau penyakit kelamin.
  
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-827.png", alt="Group 827", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 5.
      div(class="col-8")
        p(class="description-documents").
          Perusahaan hanya akan mengganti biaya pengobatan yang dilaksanakan oleh instansi kesehatan berwenang.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-840.png", alt="Group 840", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 6.
      div(class="col-8")
        p(class="description-documents").
          Jika kamu terdaftar sebagai penerima fasilitas BPJS Kesehatan,
          maka prioritaskan penggunaan BPJS Kesehatan sebelum menggunakan fasilitas kesehatan dari Mandala.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-830.png", alt="Group 830", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 7.
      div(class="col-8")
        p(class="description-documents").
          Perusahaan dapat menolak klaim apabila ditemukan penyalahgunaan dan/atau penggunaan yang tidak wajar atas fasilitas yang diberikan.

    div(class="row", style="margin-top: 36px; margin-bottom: 80px;")
      div(class="col")
        img(src="/assets/webviews/group-828.png", alt="Group 828", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 8.
      div(class="col-8")
        p(class="description-documents").
          Konfirmasi langsung ke pihak rumah sakit atau optik yang tercantum dalam permohonan klaim, tidak dianggap sebagai pelanggaran privasi karyawan.
  </div>