extend ../layout.pug

block content
  <div class="container" style="margin-top: 16px;">
    p(style="font-family: 'Circular Std Bold', sans-serif;").
      Berikut salah satu komponen fasilitas yang diberikan oleh perusahaan:

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-753.png", alt="Group 753", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 1.
      div(class="col-8")
        p(class="description-documents").
          Fasilitas kesehatanmu ditentukan berdasarkan level posisi jabatan, dan ketentuan perusahaan yang berlaku.
          Fasilitas diberikan sejak bulan pertama bergabung sebagai karyawan Mandala.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-840.png", alt="Group 840", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 2.
      div(class="col-8")
        p(class="description-documents").
          Jika kamu terdaftar sebagai penerima fasilitas BPJS Kesehatan,
          maka prioritaskan penggunaan BPJS Kesehatan sebelum menggunakan fasilitas kesehatan dari Mandala.
  
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-848.png", alt="Group 848", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 3.
      div(class="col-8")
        p(class="description-documents").
          Fasilitas kesehatan dapat digunakan apabila kamu butuhkan.
          Fasilitas kesehatan bukan komponen perhitungan remunerasi (upah).
  
    div(class="row", style="margin-top: 36px;")
      div(class="col")
      div(class="col-1")
        p(class="description-documents") 4.
      div(class="col-8")
        p(class="description-documents").
          Fasilitas kesehatan tidak dapat diuangkan apabila tidak dibutuhkan, dan/atau digunakan.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
      div(class="col-1")
        p(class="description-documents") 5.
      div(class="col-8")
        p(class="description-documents").
          Fasilitas kesehatan tidak dapat dijadikan sebagai salah satu komponen perhitungan kompensasi jika kamu telah berhenti bekerja sebagai karyawan Mandala.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-849.png", alt="Group 849", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 6.
      div(class="col-8")
        p(class="description-documents").
          Kamu tidak dapat klaim fasilitas kesehatan untuk tujuan pengobatan kecantikan,
          obat-obat terlarang, penyakit kelamin, dan/atau tindakan bunuh diri.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-834.png", alt="Group 834", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 7.
      div(class="col-8")
        p(class="description-documents").
          Tidak dapat dilakukan penggantian biaya proses melahirkan tanpa indikasi medis bagi ibu atau bayinya.
          Hal ini berlaku untuk karyawan wanita, atau istri dari karyawan yang telah melalui pernikahan yang sah secara hukum dan dibuktikan dengan akta pernikahan serta kartu keluarga.
    
    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-790.png", alt="Group 790", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 8.
      div(class="col-8")
        p(class="description-documents").
          Plafon fasilitas kesehatan muncul setiap awal tahun.
          Namun, khusus untuk fasilitas kacamata, plafon untuk tahun berikutnya,
          muncul di tanggal yang sama dengan tanggal klaim tahun lalu.

    div(class="row", style="margin-top: 36px;")
      div(class="col")
        img(src="/assets/webviews/group-794.png", alt="Group 794", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 9.
      div(class="col-8")
        p(class="description-documents").
          Klaim fasilitas kesehatan wajib disetujui sebelum tanggal 20.
          Jika persetujuan dilakukan lewat dari tanggal 20, maka dana penggantian dicairkan di bulan berikutnya.

    div(class="row", style="margin-top: 36px; margin-bottom: 80px;")
      div(class="col")
        img(src="/assets/webviews/group-805.png", alt="Group 805", class="img-fluid")
      div(class="col-1")
        p(class="description-documents") 10.
      div(class="col-8")
        p(class="description-documents").
          Proses pencairan dana klaim fasilitas kesehatan dilakukan bersamaan dengan proses penggajian.
  </div>